project_id = "mcp"

[remotes.dev]
project_id = "zdvscmogkfyddnnxzkdu"

[remotes.dev.db.seed]
enabled = true

[remotes.prod]
project_id = "bnagepkxryauifzyoxgo"

[remotes.prod.db.seed]
enabled = false

# -------------
# Auth defaults

[auth]
enabled = true
site_url = "http://localhost:5173"
additional_redirect_urls = ["http://localhost:5173"]
minimum_password_length = 32
password_requirements= "lower_upper_letters_digits_symbols"

[auth.mfa.totp]
enroll_enabled = true
verify_enabled = true

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = true
max_frequency = "1s"
otp_length = 8

# -------------
# Auth override

[remotes.dev.auth]
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://098d4be4-b790-4fca-9806-d5dd653b8946.lovableproject.com/**", "https://id-preview--098d4be4-b790-4fca-9806-d5dd653b8946.lovable.app/**"]

[remotes.prod.auth]
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://098d4be4-b790-4fca-9806-d5dd653b8946.lovableproject.com/**", "https://id-preview--098d4be4-b790-4fca-9806-d5dd653b8946.lovable.app/**"]
