[remotes.dev]
project_id = "zdvscmogkfyddnnxzkdu"

[remotes.dev.db.seed]
enabled = true

[remotes.prod]
project_id = "bnagepkxryauifzyoxgo"

[remotes.prod.db.seed]
enabled = false

# =============================================================================
# LOCAL AUTH CONFIGURATION
# =============================================================================

[auth]
enabled = true
site_url = "http://localhost:5173"
additional_redirect_urls = ["http://localhost:5173"]
minimum_password_length = 32
password_requirements= "lower_upper_letters_digits_symbols"

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = true